.icon-image {
    width: 56px;
    margin: 0 8px 12px 0;
    cursor: pointer;
    display: inline-block;
    &.selected .img-content{
        border-color: #269FF0;
    }
    .img-content {
        width: 56px;
        height: 42px;
        background: #FFFFFF;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;

        .img-point {
            width: 55%;
            height: auto;
            margin: 0 auto;
        }

        .img-line {
            width: 96%;
        }

        .img-polygon {
            width: 70%;
            height: 75%;
            margin: 0 auto;  
        }
    }

    .title-content {
        text-align: start;
        margin-top: 4px;
        width: 56px;
        height: 40px;
        font-size: 12px;
        font-family: MicrosoftYaHei;
        color: rgba(255, 255, 255, 0.65);
        line-height: 20px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-break: break-all;
        color: rgba(0, 0, 0, 0.45);
    }
}

.line {
    img {
        width: 50px;
        height: 7px;
    }
}
