//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:_password=a0hXZm5DNzlubkFn
//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:username=user_1019838158924454
//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:email=guyongquan@supermap.com
//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:always-auth=true
@ispeco:registry=https://registry-node.aliyun.com/org/1120600651823311/registry/supermap/
@supermap:registry=https://registry-node.aliyun.com/org/1120600651823311/registry/supermap/
registry=https://registry.npmjs.org/

