.ant-input-affix-wrapper.style-setting-search {
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 248px;

    input {
        &::placeholder {
            color: rgba(0, 0, 0, 0.45);
        }

        color: rgba(0, 0, 0, 0.65);
    }

    .style-setting-search-close {
        cursor: pointer;
        svg {
            color: rgba(0, 0, 0, 0.45);
        }
    }
}