.basic-symbol-content,
.automake-symbol-content,
.land-symbol-content {
    background: #F5F5F5;
    justify-content: flex-start;
}

.symbol-setting-content {
    .symbol-setting-symbols {
        display: flex;
        flex-wrap: wrap;
    }

    .symbol-setting-type-label {
        border-left: 2px solid #3499E5;
        text-indent: 4px;
        margin-bottom: 16px;
        color: rgba(0, 0, 0, 0.85);
    }
}